<ul>
  <li>Work: <%= @profile.work %></li>
  <li>Education: <%= @profile.education %></li>
  <li>Status: <%= @profile.status %></li>
  <li>Gender: <%= @profile.gender %></li>
  <li>Live in: <%= @profile.live %></li>
  <li>Hometown: <%= @profile.hometown %></li>
  <li>Birthdate: <%= @profile.birthdate %></li>
  <li>Quote: <%= @profile.quote %></li>
</ul>