<!-- User Profile -->
<div class="row">  
  <div class="col s4" id="info-col">
    <%= render 'image_card' %>
    <%= render 'users/friend_request' %>          
    <%= render 'user_info' %> 
  </div>
  <div class='col s8'>
    <div class="section">
      <%= render 'shared/post_form' %>
    </div>
    <div class="divider"></div>
    <div class="section">
      <%= render 'shared/users_posts' %>
    </div>
  </div>
</div>

