<div class="login-main">
  <div class="row">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'validate', id: 'email' %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: 'validate', id: 'password' %>
        </div>
      </div>
      <div class="row">
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me, class: 'field' %>
        <%= f.label :remember_me %>
      <% end -%> 
    </div>
      <div class="row">
        <div class="actions waves-effect waves-light btn">
          <%= f.submit "Log in" %>
        </div>
      </div>  
  <% end %>
  </div>
</div>
