                          <!-- NOT Signed in nav bar -->
<ul class="right hide-on-med-and-down">
  <% unless user_signed_in? %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <li><i class="material-icons prefix">account_circle</i></li>
    <li>
      <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'input-field col s6' %>
    </li>

    <li><i class="material-icons prefix">vpn_key</i></li>
    <li><%= f.password_field :password, autocomplete: "off", class: 'input-field col s6' %></li>

    <li>
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me, class: 'field' %>
        <%= f.label :remember_me %>
      <% end -%>        
    </li>

    <li class="btn waves-effect waves-light"><%= f.submit "Log in", class: 'action' %></li>
    
    <% end %>
  <% else %>
                        <!-- Signed in nav bar -->
    <li>
       <%= form_tag '/users', method: :get do %>
        <div class="input-field">
          <%= search_field_tag :search %>
          <%= label_tag :search, content_tag(:i, 'search', class: 'material-icons') %>
          <i class="material-icons">close</i>
        </div>
      <% end %>
    </li>

    <li><%= link_to "Profile", user_profile_path(current_user) %></li>
    <li><%= link_to "Home", posts_path %></li>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown2"><i class="material-icons right">supervisor_account</i>Notifications</a></li>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">arrow_drop_down</i></a></li>
  </ul>
<% end %>