<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "Settings", edit_user_registration_path(current_user) %></li>
  <li class="divider"></li>
  <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
</ul>

<% if user_signed_in? %>
<ul id="dropdown2" class="dropdown-content">
  <% if load_friend_requests.any? %>
    <li>Requests</li>
    <li class="divider"></li>
    <% load_friend_requests.each do |request| %>
      <li>
        <%= link_to request.user.full_name, user_profile_path(request.user) %>
        <%= link_to 'Accept', friendship_path(request), method: :put %>
        <%= link_to 'Ignore', friendship_path(request), method: :delete %>
      </li>
      <li class="divider"></li>
    <% end %>
  <% else %>
    <li><%= link_to 'No requests', '#' %></li>
    <li class="divider"></li>
  <% end %>
</ul>
<% end %>
<nav>
  <div class="nav-wrapper">
    <%= link_to " Odin-Book", root_url, class: "brand-logo" %>

    <% unless devise_controller? %>
      <%= render 'layouts/login_nav' %>
    <% else %>
      <% unless user_signed_in? %>
      <ul class="right hide-on-med-and-down">
        <li class="waves-effect waves-light btn"><%= link_to "Sign Up", root_url %></li>
      </ul>
      <% end %>
    <% end %>
    
  </div>
</nav>
